/* Override settings in blueprint/screen.css */
/*
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}
*/
.error, .alert, .notice, .success, .info {padding:0;margin-bottom:0;border:0;}


/* Override settings in Mazama_databrowser_base.css */

/* BODY ..................................................................... */

/* HEADER ....................................................................*/

/* NAVBAR ....................................................................*/

/* DATABROWSER ...............................................................*/

/* .... CONTROLS .............................................................*/

#plotTypeDiv {
  height: 5em;
}

#metricNameDiv {
  height: 5em;
}

#plotTypeOptionsDiv {
  height: 7em;
}

/* .... .... PLOT TYPE AND METRIC ............................................*/

span#plotSpan {
  float: right;
}
/*
button#plotData {
  float: right;
}
*/

img#spinner {
  float: right;
}

/* .... .... DATA SOURCE AND TIMESPAN ........................................*/

.doNotSerialize { 
  color: #AAA;
}

#snclSelectors {
  width: fit-content;
}

#snclSelectors td {
  padding: 0 0 0 5px;
}

#snclSelectors span.label {
  width: 2em;
  text-align: right;
}

#snclSelectors input {
  width: 6em;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 40%;
}

#datepickers {
  width: fit-content;
}

#datepickers td {
  padding: 0 0 0 5px; 
}

#datepickers input {
  width: 10em;
}

/* Override table striping from blueprint.css */
tbody tr:nth-child(2n) td, tbody tr.even td {
    background-color: transparent;
}

fieldset table {
  margin-bottom: 0;
}

/* .... .... TOOLTIPS ........................................................*/

.cluetip-default h3.cluetip-title {
  color: #fff;
  /* background-color: #69884C; */
  background-color: #CFD6C0;
  font-size: 1.2em;
  font-weight: bold;
}


/* .... .... SPINNER .........................................................*/

/* .... PLOT_CONTAINER .......................................................*/

div#requestMessage {
  height: 3em;
  margin: 5px 15px;
  font-size: 1.2em;
}

/* .... .... INVITATION ......................................................*/

/* .... .... PLOT ............................................................*/

/* FOOTER ....................................................................*/

