/* Override settings in Mazama_databrowser_base.css */

/* BODY & CONTAINER ......................................................... */

body {
  background-color: #fff;
}

#databrowser_wrapper {
  background-color: #fff;
  width: 100%;
  margin: auto;
}

/* HEADER ....................................................................*/

/* INVITATION ................................................................*/

#invitation {
  height: 1em;
  margin: 0px;
}

/* NAVIGATION ................................................................*/

/* DATABROWSER ...............................................................*/

/* .... PLOTTYPE .............................................................*/

/* .... CONTROLS .............................................................*/

td.nopadding {
  padding: 0;
}

/* .... SPINNER ..............................................................*/

div#controls div#spinner {
  margin: 10px; /* position the spinner tastefully underneath the controls */
}

/* .... PLOT .................................................................*/

/* FOOTER ....................................................................*/

